beautifulsoup4
certifi
charset-normalizer
click
Flask
idna
importlib-metadata
itsdangerous
Jinja2
lxml
MarkupSafe
nsepy
numpy
pandas
python-dateutil
pytz
requests
six
soupsieve
urllib3
Werkzeug
zipp
